<div class="container col-md-4">
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= @product.image_url %>
  </p>

  <p>
  	<strong>Colour:</strong>
  	<%= @product.colour %>
  </p>
  <p>
  	<strong>Price</strong>
  	<%= '%.2f' % (@product.price/100) unless @product.price == nil %>
  </p>
  <p>
    <strong>Rating</strong>
    <div class="rated" data-score="<%= @product.average_rating %>"></div>
  </p>
  <p>
    <form>
      <input name="tags" id="tags" value="foo,bar,baz" />
    </form>
  </p>
  <p>
    <%= form_tag('/payments/create', remote: true) do %>
      <%= render partial: "shared/stripe_checkout_button" %>
    <% end %>
  </p>
    <%= render 'new_comment' %>
</div>

<div class="col-md-8">
  <%= image_tag(@product.image_url, class: "product-image") %>
</div>

<div class="col-md-4">
  <%= render 'comments' %>

</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
